# Ignore all files and directories by default.
**/**

# Ironically, this needs to be un-ignored via itself or we can't commit it.
!/.gitignore

# Un-ignore our filter directory and related files. Note that you need to
# un-ignore the directory itself in addition to any items in it for Git to not
# ignore any files within it.
!/AmbientImpactItemFilter
!/AmbientImpactItemFilter/**
!/.gitlab-ci.yml
!/license.md
!/makefile
!/pyproject.toml
!/readme.md
