# Python virtual environments.
/.venv
/.poetry-venv

# Contains build values and not intended to be committed.
/build/*

# Optional personal watchlist.
/watchlist.json

# Always allow .gitkeep files which are commonly used to allow directories that
# otherwise have no other files under version control to be deployed via Git.
# Note that this must be placed after any exclude rules to take effect.
!.gitkeep
