{% import "macros/sound." + itemFilter.templateExtension as sound with context -%}

Show
  BaseType        "Breach Splinter" "Breachstone"
  SetBorderColor  255 10 10
  PlayEffect      Red
  MinimapIcon     0 Red Kite
  CustomAlertSoundOptional "{{ sound.output('maps') }}"
