{% import 'macros/sound.j2' as sound with context -%}

Show
  BaseType        "Simulacrum Splinter" "Simulacrum"
  SetBorderColor  255 255 255 200
  PlayEffect      White
  MinimapIcon     0 White Kite
  CustomAlertSoundOptional "{{ sound.output('maps') }}"
