{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}

Show
  BaseType        "Simulacrum Splinter"
  {{ tieredScheme.output('endgame', 'b') }}
  PlayEffect      Grey
  MinimapIcon     1 Grey Kite

Show
  BaseType        "Simulacrum"
  {{ tieredScheme.output('endgame', 's') }}
  PlayEffect      Grey
  MinimapIcon     0 Grey Cross
