{% import 'macros/sound.' + itemFilter.templateExtension as sound with context -%}
{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}

Show
  Class             "Expedition Logbooks"
  {{ tieredScheme.output('expedition', 'b') }}
  PlayEffect        Cyan
  MinimapIcon       1 Cyan Cross
  CustomAlertSoundOptional "{{ sound.output('maps') }}"
