{% import "macros/colour." + itemFilter.templateExtension as colour with context -%}
{% import "macros/sound." + itemFilter.templateExtension as sound with context -%}

Show
  Class             "Expedition Logbooks"
  SetTextColor      {{ colour.output('expedition') }}
  SetBorderColor    {{ colour.output('expedition') }}
  PlayEffect        Cyan
  MinimapIcon       0 Cyan Cross
  CustomAlertSoundOptional "{{ sound.output('maps') }}"
