{% import "macros/sound." + templateExtension as sound with context -%}

Show
  Class           "Trial Coins" "Inscribed Ultimatum"
  SetTextColor    255 10 10
  SetBorderColor  255 10 10 150
  PlayEffect      Red
  MinimapIcon     1 Red Circle
  CustomAlertSoundOptional "{{ sound.output('maps') }}"

Show
  Class           Relics
  SetTextColor    255 10 10
  SetBorderColor  255 10 10 150
  PlayEffect      Red
  MinimapIcon     1 Red Hexagon
  CustomAlertSoundOptional "{{ sound.output('maybeValuable') }}"
