{% import 'macros/colour.' + itemFilter.templateExtension as colour with context -%}
{% import 'macros/sound.' + itemFilter.templateExtension as sound with context -%}

Show
  Class           "Trial Coins" "Inscribed Ultimatum"
  SetTextColor    {{ colour.output('ascendency') }}
  SetBorderColor  {{ colour.output('ascendency', 150) }}
  PlayEffect      Red
  MinimapIcon     1 Red Circle
  CustomAlertSoundOptional "{{ sound.output('maps') }}"

Show
  Class           Relics
  SetTextColor    {{ colour.output('ascendency') }}
  SetBorderColor  {{ colour.output('ascendency', 150) }}
  PlayEffect      Red
  MinimapIcon     1 Red Star
  CustomAlertSoundOptional "{{ sound.output('maybeValuable') }}"
