{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

{# Endgame body armours that have implicits. They have different implicits so
   all are listed. #}
{%- set body = [
  'Austere Garb',
  'Conjurer Mantle',
  'Corsair Coat',
  'Dastard Armour',
  'Death Mail',
  'Death Mantle',
  'Falconer\'s Jacket',
  'Feathered Raiment',
  'Flowing Raiment',
  'Ornate Plate',
  'Rambler Jacket',
  'Sacramental Robe',
  'Seastorm Mantle',
  'Shrouded Mail',
  'Swiftstalker Coat',
  'Thane Mail',
  'Utzaal Cuirass',
  'Warlord Cuirass',
  'Wyrmscale Coat',
] -%}
{# The rest of these are only the top tier as they have no implicits and are
   only differentiated in the raw base defences they provide. #}
{%- set helmets = [
  'Ancestral Tiara',
  'Cryptic Crown',
  'Freebooter Cap',
  'Gladiatorial Helm',
  'Grinning Mask',
  'Imperial Greathelm',
] -%}
{%- set gloves = [
  'Adherent Cuffs',
  'Blacksteel Gauntlets',
  'Massive Mitts',
  'Polished Bracers',
  'Secured Wraps',
  'Sirenscale Gloves',
] -%}
{%- set boots = [
  'Blacksteel Sabatons',
  'Cryptic Leggings',
  'Daggerfoot Shoes',
  'Drakeskin Boots',
  'Sekhema Sandals',
  'Tasalian Greaves',
] %}
{%- set bucklers = [
  'Ancient Buckler',
  'Desert Buckler',
] %}
{%- set foci = [
  'Sacred Focus',
  'Tasalian Focus',
] %}
{%- set shields = [
  'Soaring Targe',
  'Vaal Crest Shield',
  'Vaal Tower Shield',
] %}
{%- set axes = [
  'Dread Hatchet',
] %}
{%- set bows = [
  'Fanatic Bow',
  'Gemini Bow',
  'Guardian Bow',
  'Warmonger Bow',
] %}
{%- set crossbows = [
  'Elegant Crossbow',
  'Gemini Crossbow',
  'Siege Crossbow',
] %}
{%- set maces = [
  'Fanatic Greathammer',
  'Fortified Hammer',
  'Molten Hammer',
  'Ruination Maul',
  'Strife Pick',
] %}
{%- set quarterstaves = [
  'Aegis Quarterstaff',
  'Bolting Quarterstaff',
] %}
{%- set spears = [
  'Akoyan Spear',
  'Flying Spear',
  'Grand Spear',
  'Stalking Spear',
] %}

Show
  BaseType          {{ utilities.quotedSequence(
    body + helmets + gloves + boots + bucklers + foci + shields + axes + bows +
    crossbows + maces + quarterstaves + spears
  ) }}
  {{ tieredScheme.output('bases', 'c') }}
  PlayEffect        Grey Temp
  MinimapIcon       2 Grey Diamond
  Continue

# Non-ring, non-corrupted items with 21% or higher quality are likely
# exceptional.
Show
  Quality       >= 21
  Class         != Ring
  Corrupted     False
  {{ tieredScheme.output('bases', 'b') }}
  PlayEffect    Grey
  MinimapIcon   1 Grey Diamond
  Continue

# These are likely exceptional if they're not corrupted.
Show
  Width         >= 2
  Height        >= 2
  Sockets       >= 3
  Corrupted     False
  {{ tieredScheme.output('bases', 'b') }}
  PlayEffect    Grey
  MinimapIcon   1 Grey Diamond
  Continue
