{% import "macros/colour." + itemFilter.templateExtension as colour with context -%}

Show
  Class           Charms
  Rarity          <= Rare
  SetBorderColor  {{ colour.output('jewellery') }}
  PlayEffect      White Temp
  MinimapIcon     2 White Circle
