{% import "macros/colour." + itemFilter.templateExtension as colour with context -%}

Show
  Class           Charms Flasks
  SetBorderColor  {{ colour.output('beltItems') }}
  PlayEffect      Pink Temp
  Continue

Show
  Class           Charms
  MinimapIcon     1 Pink Raindrop

Show
  Class           Flasks
  MinimapIcon     2 Pink UpsideDownHouse
