{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

Show
  BaseType        {{ utilities.quotedSequence([
    'Amethyst Charm',
    'Golden Charm',
  ]) }}
  {{ tieredScheme.output('beltItems', 'a') }}
  MinimapIcon     0 Pink Raindrop
  PlayEffect      Pink

Show
  BaseType        {{ utilities.quotedSequence([
    'Antidote Charm',
    'Dousing Charm',
    'Grounding Charm',
    'Silver Charm',
    'Staunching Charm',
    'Stone Charm',
    'Thawing Charm',
  ]) }}
  {{ tieredScheme.output('beltItems', 'b') }}
  MinimapIcon     1 Pink Raindrop
  PlayEffect      Pink Temp

Show
  Class           Charms
  {{ tieredScheme.output('beltItems', 'c') }}
  MinimapIcon     2 Pink Raindrop
  PlayEffect      Pink Temp

# Show all flasks before endgame.
Show
  Class           Flasks
  AreaLevel       < {{ itemFilter.levels.endgameStart }}
  {{ tieredScheme.output('beltItems', 'b') }}
  MinimapIcon     2 Pink UpsideDownHouse
  PlayEffect      Pink Temp

# Only show ultimate flasks during endgame.
Show
  BaseType        {{ utilities.quotedSequence([
    'Ultimate Life Flask',
    'Ultimate Mana Flask',
  ]) }}
  {{ tieredScheme.output('beltItems', 'b') }}
  MinimapIcon     2 Pink UpsideDownHouse
  PlayEffect      Pink Temp

# Hide all flasks not matched.
Hide
  Class Flasks
