{% import 'macros/colour.' + itemFilter.templateExtension as colour with context -%}
{% import 'macros/sound.' + itemFilter.templateExtension as sound with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

# Remove the border colour for scrolls and reduce the opacity slightly on the
# text to de-emphasize them relative to other currency.
Show
  BaseType        "Scroll of Wisdom"
  SetTextColor    {{ colour.output('currency', 180) }}

Show
  Class             Currency
  CustomAlertSoundOptional "{{ sound.output('currency') }}"
  Continue

# Large minimap icons, persistent yellow item beams, and yellow outlines for
# these.
#
# Note that distilled emotions are split into two groups for now based on the
# two rows of the stash tab (the second row being rarer), with the order taken
# from the trade site's bulk item exchange.
#
# @todo Split distilled emotions into more groups when we add more currency
#   rules/levels.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Chance Shard',
    'Distilled Despair',
    'Distilled Disgust',
    'Distilled Fear',
    'Distilled Isolation',
    'Distilled Suffering',
    'Divine Orb',
    'Essence of Delirium',
    'Essence of Horror',
    'Essence of Hysteria',
    'Essence of Insanity',
    'Fracturing Orb',
    'Gemcutter\'s Prism',
    'Greater Jeweller\'s Orb',
    'Mirror of Kalandra',
    'Orb of Annulment',
    'Orb of Chance',
    'Perfect Jeweller\'s Orb',
  ]) }}
  SetBorderColor    252 190 5 {#- @todo Replace w/ colour mixing. #}
  PlayEffect        Yellow
  MinimapIcon       0 Yellow Circle

Show
  Class             Omen
  SetBorderColor    252 190 5 {#- @todo Replace w/ colour mixing. #}
  PlayEffect        Yellow
  MinimapIcon       0 Yellow Circle

# Somewhat valuable currency. These have persistent item beams and medium-sized minimap icons.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Arcanist\'s Etcher',
    'Black Scythe Artifact',
    'Broken Circle Artifact',
    'Chaos Orb',
    'Distilled Envy',
    'Distilled Greed',
    'Distilled Guilt',
    'Distilled Ire',
    'Distilled Paranoia',
    'Essence',
    'Exalted Orb',
    'Exotic Coinage',
    'Glassblower\'s Bauble',
    'Lesser Jeweller\'s Orb',
    'Orb of Alchemy',
    'Order Artifact',
    'Regal Orb',
    'Regal Shard',
    'Sun Artifact',
    'Vaal Orb',
  ]) }}
  SetBorderColor    {{ colour.output('currency') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle

Show
  Class             Currency
  BaseType          "Gold"
  StackSize         >= 1500
  SetBorderColor    {{ colour.output('currency') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle
Show
  Class             Currency
  BaseType          "Gold"
  StackSize         >= 750
  SetBorderColor    {{ colour.output('currency', 150) }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle
Show
  Class             Currency
  BaseType          "Gold"
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle

# Most currency get a faint border, a brief item beam when they drop, and a
# small minimap icon.
Show
  Class             Currency
  SetBorderColor    {{ colour.output('currency', 150) }}
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle
