{% import 'macros/colour.' + itemFilter.templateExtension as colour with context -%}
{% import 'macros/sound.' + itemFilter.templateExtension as sound with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

# Remove the border colour for scrolls and reduce the opacity slightly on the
# text to de-emphasize them relative to other currency.
Show
  BaseType        "Scroll of Wisdom"
  SetTextColor    {{ colour.output('currency', 180) }}

Show
  Class             Currency
  CustomAlertSoundOptional "{{ sound.output('currency') }}"
  Continue

# Top tier.
#
# Note that distilled emotions are split into two groups for now based on the
# two rows of the stash tab (the second row being rarer), with the order taken
# from the trade site's bulk item exchange.
#
# @todo Split distilled emotions into more groups when we add more currency
#   rules/levels.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Catalyst',
    'Chance Shard',
    'Chaos Orb',
    'Distilled Despair',
    'Distilled Disgust',
    'Distilled Fear',
    'Distilled Isolation',
    'Distilled Suffering',
    'Divine Orb',
    'Essence of Delirium',
    'Essence of Horror',
    'Essence of Hysteria',
    'Essence of Insanity',
    'Fracturing Orb',
    'Gemcutter\'s Prism',
    'Greater Jeweller\'s Orb',
    'Mirror of Kalandra',
    'Orb of Annulment',
    'Orb of Chance',
    'Perfect Jeweller\'s Orb',
  ]) }}
  SetBorderColor    {{ colour.output('currencyValuable', type='border') }}
  PlayEffect        Yellow
  MinimapIcon       0 Yellow Circle

# Same as above. Omens are a different item class however so they need a
# separate rule.
Show
  Class             Omen
  SetBorderColor    {{ colour.output('currencyValuable', 180, type='border') }}
  PlayEffect        Yellow
  MinimapIcon       0 Yellow Circle

# Mid tier.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Arcanist\'s Etcher',
    'Black Scythe Artifact',
    'Broken Circle Artifact',
    'Distilled Envy',
    'Distilled Greed',
    'Distilled Guilt',
    'Distilled Ire',
    'Distilled Paranoia',
    'Essence',
    'Exalted Orb',
    'Exotic Coinage',
    'Glassblower\'s Bauble',
    'Lesser Jeweller\'s Orb',
    'Orb of Alchemy',
    'Order Artifact',
    'Regal Orb',
    'Regal Shard',
    'Sun Artifact',
    'Vaal Orb',
  ]) }}
  SetBorderColor    {{ colour.output('currency') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle

# Small stacks of gold in later endgame have no map icon nor a drop sound.
Show
  AreaLevel         >= {{ itemFilter.levels.endgamePhase3 }}
  Class             Currency
  BaseType          "Gold"
  StackSize         < 150
  MinimapIcon       -1
  CustomAlertSound  "None"

# Larger stacks of gold displayed as mid tier.
Show
  Class             Currency
  BaseType          "Gold"
  StackSize         >= 1500
  SetBorderColor    {{ colour.output('currency') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle
Show
  Class             Currency
  BaseType          "Gold"
  StackSize         >= 750
  SetBorderColor    {{ colour.output('currency', 150) }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle

# Fallback for gold not matched by any of the above.
Show
  Class             Currency
  BaseType          "Gold"
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle

# Everything else is low tier.
Show
  Class             Currency
  SetBorderColor    {{ colour.output('currency', 150) }}
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle
