{% import 'macros/sound.j2' as sound with context -%}

# Waystones and tablets.
Show
  Class               Waystones Tablet
  SetBorderColor      255 255 255 200
  # Not using SetTextColor so the default rarity colours are displayed.
  PlayEffect          White
  MinimapIcon         1 White Cross
  CustomAlertSoundOptional "{{ sound.output('maps') }}"
