{% import 'macros/colour.' + itemFilter.templateExtension as colour with context -%}
{% import 'macros/sound.' + itemFilter.templateExtension as sound with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

# This should be before salvage materials to not be caught by the Artificer's
# Shard salvage rule.

# Level 19 and 20 uncut gems get special treatment due to their rarity.
#
# @see https://www.poe2wiki.net/wiki/Uncut_gem#Drop_level_breakpoints
Show
  BaseType        {{ utilities.quotedSequence([
    'Uncut Skill Gem',
    'Uncut Spirit Gem',
  ]) }}
  GemLevel        >= 19
  SetTextColor    {{ colour.output('gems') }}
  SetBorderColor  {{ colour.output('gems') }}
  PlayEffect      Green
  MinimapIcon     0 Green Hexagon
  CustomAlertSoundOptional "{{ sound.output('leveling') }}"
  SetBackgroundColor 29 61 59 240 {#- @todo Replace w/ colour mixing. #}

# All other uncut gems during endgame.
Show
  BaseType        {{ utilities.quotedSequence([
    'Uncut Skill Gem',
    'Uncut Spirit Gem',
    'Uncut Support Gem',
  ]) }}
  SetTextColor    {{ colour.output('gems') }}
  SetBorderColor  {{ colour.output('gems', 100) }}
  AreaLevel       >= {{ itemFilter.levels.endgamePhase2 }}
  PlayEffect      Green Temp
  MinimapIcon     2 Green Hexagon

# All uncut gems until early endgame.
Show
  BaseType        {{ utilities.quotedSequence([
    'Uncut Skill Gem',
    'Uncut Spirit Gem',
    'Uncut Support Gem',
  ]) }}
  AreaLevel       < {{ itemFilter.levels.endgamePhase2 }}
  SetTextColor    {{ colour.output('gems') }}
  SetBorderColor  {{ colour.output('gems', 180) }}
  PlayEffect      Green Temp
  MinimapIcon     2 Green Hexagon
  CustomAlertSoundOptional "{{ sound.output('leveling') }}"

Show
  Class           Gems
  Quality         >= 1
  SetBorderColor  {{ colour.output('gems') }}
  PlayEffect      Green
  MinimapIcon     1 Green Hexagon
  CustomAlertSoundOptional "{{ sound.output('leveling') }}"

Show
  Class           Gems
  Sockets         >= 3
  SetBorderColor  {{ colour.output('gems') }}
  PlayEffect      Green
  MinimapIcon     1 Green Hexagon
  CustomAlertSoundOptional "{{ sound.output('leveling') }}"

Show
  Class       Gems
  PlayEffect  Green Temp
