{% import "macros/colour." + itemFilter.templateExtension as colour with context -%}

Show
  Class           Belts Rings Amulets
  Rarity          <= Rare
  SetBorderColor  {{ colour.output('jewellery') }}
  PlayEffect      White Temp
  MinimapIcon     2 White Moon
  # Allow other rules after this to apply their own values if they match.
  Continue
