{% import "macros/colour." + itemFilter.templateExtension as colour with context -%}

# Salvage bench materials.
Show
  AreaLevel       < {{ itemFilter.levels.endgameStart }}
  Sockets         >= 1
  Rarity          <= Rare
  SetBorderColor  {{ colour.output('salvage') }}
  PlayEffect      Grey Temp
  MinimapIcon     2 Grey Circle
  # Allow other rules after this to apply their own values if they match.
  Continue
Show
  AreaLevel       < {{ itemFilter.levels.endgameStart }}
  Quality         >= 1 # @todo Higher minimum?
  Rarity          <= Rare
  SetBorderColor  {{ colour.output('salvage') }}
  PlayEffect      Grey Temp
  MinimapIcon     2 Grey Circle
  # Allow other rules after this to apply their own values if they match.
  Continue
