{% import "macros/colour." + itemFilter.templateExtension as colour with context -%}
{% import "macros/sound." + itemFilter.templateExtension as sound with context -%}

# High tier/rare.
Show
  BaseType        "{{ [
    'Fox Talisman',
    'Rabbit Talisman',
    'Soul Core',
    'Greater',
  ]|join('" "') }}"
  Class           Socketable
  SetTextColor    {{ colour.output('socketables') }}
  SetBorderColor  {{ colour.output('socketables') }}
  PlayEffect      Blue
  MinimapIcon     0 Blue Hexagon
  CustomAlertSoundOptional "{{ sound.output('highMaps') }}"

# Low tier/common.
Show
  BaseType        Lesser
  Class           Socketable
  SetTextColor    {{ colour.output('socketables', 200) }}
  PlayEffect      Blue Temp
  MinimapIcon     2 Blue Hexagon

# Mid tier.
Show
  Class           Socketable
  SetTextColor    {{ colour.output('socketables') }}
  SetBorderColor  {{ colour.output('socketables', 160) }}
  PlayEffect      Blue Temp
  MinimapIcon     1 Blue Hexagon
