{% import "macros/sound." + templateExtension as sound with context -%}

Show
  BaseType        Greater "Soul Core" Talisman
  Class           Socketable
  SetTextColor    184 218 242
  SetBorderColor  184 218 242
  PlayEffect      Blue
  MinimapIcon     0 Blue Circle
  CustomAlertSoundOptional "{{ sound.output('highMaps') }}"

Show
  BaseType        Lesser
  Class           Socketable
  SetTextColor    184 218 242 200
  PlayEffect      Blue Temp
  MinimapIcon     2 Blue Circle

Show
  Class           Socketable
  SetTextColor    184 218 242
  SetBorderColor  184 218 242
  PlayEffect      Blue Temp
  MinimapIcon     1 Blue Circle
