{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

{# Optional watchlist to highlight base types one may be currently looking for.

   @todo Introduce more options, i.e. rarity, item class, etc. #}
{% if itemFilter.watchlist %}
Show
  BaseType        {{ utilities.quotedSequence(itemFilter.watchlist) }}
  {{ tieredScheme.output('watchlist', 'b') }}
  PlayEffect      Orange Temp
  MinimapIcon     2 Orange Diamond
{%- endif -%}
