{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}

Show
  BaseType        "Breach Splinter"
  {{ tieredScheme.output('breach', 'a') }}
  PlayEffect      Red
  MinimapIcon     1 Red Kite

Show
  BaseType        "Breachstone"
  {{ tieredScheme.output('breach', 's') }}
  PlayEffect      Red
  MinimapIcon     0 Red Cross
