{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}

Show
  BaseType        "Runic Splinter"
  {{ tieredScheme.output('expedition', 'a') }}
  PlayEffect      Cyan
  MinimapIcon     1 Cyan Kite

Show
  Class             "Expedition Logbooks"
  {{ tieredScheme.output('expedition', 'a') }}
  PlayEffect        Cyan
  MinimapIcon       1 Cyan Cross
