{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}

Show
  BaseType        "Petition Splinter"
  {{ tieredScheme.output('ritual', 'a') }}
  PlayEffect      Purple
  MinimapIcon     1 Purple Kite

Show
  BaseType        "An Audience with the King"
  {{ tieredScheme.output('ritual', 's') }}
  PlayEffect      Purple
  MinimapIcon     0 Purple Cross
