{# Output a colour value by key, optionally overriding the opacity. #}
{%- macro output(key, opacity, type='base') -%}
  {{ format(itemFilter.colours[type][key], opacity) }}
{%- endmacro -%}

{# Format and output a colour RGBA array, optionally overriding the opacity. #}
{%- macro format(colourArray, opacity) -%}

  {%- set colour = [colourArray[0], colourArray[1], colourArray[2]] -%}

  {%- if opacity -%}
    {%- do colour.append(opacity) -%}
  {%- elif colourArray|length == 4 -%}
    {%- do colour.append(colourArray[3]) -%}
  {%- endif -%}

  {{ colour|join(' ') }}

{%- endmacro -%}
