{# Output a colour value by key, optionally overriding the opacity. #}
{%- macro output(key, opacity, type='base') -%}
  {%- set configValue = itemFilter.colours[type][key] -%}
  {%- set colour = [configValue[0], configValue[1], configValue[2]] -%}
  {%- if opacity -%}
    {%- do colour.append(opacity) -%}
  {%- elif configValue|length == 4 -%}
    {%- do colour.append(configValue[3]) -%}
  {%- endif -%}
  {{ colour|join(' ') }}
{%- endmacro -%}
