{% import 'macros/colour.' + itemFilter.templateExtension as colour with context -%}

{# Output tier colours for a given category and tier level. #}
{%- macro output(type, tier, replaceTextColour = True) -%}

  {%- set configValue = itemFilter.colours.tiers[type][tier] -%}

  {%- if replaceTextColour == True -%}
  SetTextColor        {{ colour.format(configValue.text) }}
  {%- endif %}
  SetBorderColor      {{ colour.format(configValue.border) }}
  {#- @todo Move this to the Python script and make configurable per-tier. #}
  {%- if tier == 'e' %}
  SetBackgroundColor  {{ colour.format(configValue.background, 210) }}
  {%- else %}
  SetBackgroundColor  {{ colour.format(configValue.background, 240) }}
  {%- endif %}

{%- endmacro -%}
