{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

Show
  Class           {{ utilities.quotedSequence([
    'Trial Coins',
    'Inscribed Ultimatum',
  ]) }}
  {{ tieredScheme.output('ascendency', 'c') }}
  PlayEffect      Red
  MinimapIcon     1 Red Circle

Show
  Class Relics
  Continue

# Small relics are C tier.
Show
  BaseType        {{ utilities.quotedSequence([
    'Seal Relic',
    'Urn Relic',
  ]) }}
  Rarity          != Unique
  {{ tieredScheme.output('ascendency', 'c') }}
  PlayEffect      Red Temp

# Medium relics are B tier.
Show
  BaseType        {{ utilities.quotedSequence([
    'Amphora Relic',
    'Tapestry Relic',
  ]) }}
  Rarity          != Unique
  {{ tieredScheme.output('ascendency', 'b') }}
  PlayEffect      Red Temp
  MinimapIcon     1 Red Star

# Most large relics are A tier.
Show
  BaseType        {{ utilities.quotedSequence([
    'Incense Relic',
    'Vase Relic',
  ]) }}
  Rarity          != Unique
  {{ tieredScheme.output('ascendency', 'a') }}
  PlayEffect      Red
  MinimapIcon     0 Red Star

# S tier.
Show
  BaseType "Coffer Relic"
  {{ tieredScheme.output('ascendency', 's') }}
  Rarity          != Unique
  PlayEffect      Red
  MinimapIcon     0 Red Star
