{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

# E tier before any others to ensure these don't get sounds, item beams, nor map
# icons.
Show
  BaseType        "Scroll of Wisdom"
  {{ tieredScheme.output('currency', 'e') }}

# S tier.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Catalyst',
    'Concentrated Liquid Fear',
    'Concentrated Liquid Isolation',
    'Concentrated Liquid Suffering',
    'Divine Orb',
    'Essence of Delirium',
    'Essence of Horror',
    'Essence of Hysteria',
    'Essence of Insanity',
    'Fracturing Orb',
    'Hinekora\'s Lock',
    'Mirror of Kalandra',
    'Orb of Annulment',
    'Perfect Chaos Orb',
    'Perfect Essence',
    'Perfect Exalted Orb',
    'Perfect Jeweller\'s Orb',
    'Perfect Regal Orb',
  ]) }}
  {{ tieredScheme.output('currency', 's') }}
  PlayEffect          Yellow
  MinimapIcon         0 Yellow Star

# S tier omens.
Show
  Class             Omen
  BaseType          {{ utilities.quotedSequence([
    'Omen of Catalysing Exaltation',
    'Omen of Chance',
    'Omen of Corruption',
    'Omen of Dextral Annulment',
    'Omen of Dextral Crystallisation',
    'Omen of Dextral Erasure',
    'Omen of Homogenising Exaltation',
    'Omen of Sinistral Annulment',
    'Omen of Sinistral Crystallisation',
    'Omen of Sinistral Erasure',
    'Omen of the Ancients',
    'Omen of the Blessed',
    'Omen of Whittling',
  ]) }}
  {{ tieredScheme.output('currency', 's') }}
  PlayEffect        Yellow
  MinimapIcon       0 Yellow Circle

# Abyss omens.
Show
  Class             Omen
  BaseType          {{ utilities.quotedSequence([
    'Omen of Abyssal Echoes',
    'Omen of Dextral Necromancy',
    'Omen of Light',
    'Omen of Putrefaction',
    'Omen of Sinistral Necromancy',
    'Omen of the Blackblooded',
    'Omen of the Liege',
    'Omen of the Sovereign',
  ]) }}
  {{ tieredScheme.output('currency', 's') }}
  PlayEffect        Yellow
  MinimapIcon       0 Yellow Circle

# A tier.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Chance Shard',
    'Chaos Orb',
    'Essence of Delirium',
    'Essence of Horror',
    'Essence of Hysteria',
    'Essence of Insanity',
    'Gemcutter\'s Prism',
    'Gold Key',
    'Greater Chaos Orb',
    'Greater Essence',
    'Greater Exalted Orb',
    'Greater Jeweller\'s Orb',
    'Liquid Despair',
    'Liquid Disgust',
    'Liquid Envy',
    'Liquid Paranoia',
    'Orb of Chance',
    'Perfect Orb of Augmentation',
    'Perfect Orb of Transmutation',
  ]) }}
  {{ tieredScheme.output('currency', 'a') }}
  PlayEffect        Yellow
  MinimapIcon       1 Yellow Circle

# A tier omens.
Show
  Class             Omen
  BaseType          {{ utilities.quotedSequence([
    'Omen of Amelioration',
    'Omen of Dextral Exaltation',
    'Omen of Sinistral Exaltation',
  ]) }}
  {{ tieredScheme.output('currency', 'a') }}
  PlayEffect        Yellow
  MinimapIcon       1 Yellow Circle

# All other omens are B tier.
Show
  Class             Omen
  {{ tieredScheme.output('currency', 'b') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle

# Lesser Essence is C tier. Has to be before B tier 'Essence'.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Lesser Essence',
  ]) }}
  {{ tieredScheme.output('currency', 'c') }}
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle

# B tier.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Arcanist\'s Etcher',
    'Black Scythe Artifact',
    'Broken Circle Artifact',
    'Diluted Liquid Greed',
    'Diluted Liquid Guilt',
    'Diluted Liquid Ire',
    'Essence',
    'Exalted Orb',
    'Exotic Coinage',
    'Glassblower\'s Bauble',
    'Greater Orb of Augmentation',
    'Greater Orb of Transmutation',
    'Greater Regal Orb',
    'Orb of Alchemy',
    'Order Artifact',
    'Silver Key',
    'Sun Artifact',
    'Vaal Orb',
  ]) }}
  {{ tieredScheme.output('currency', 'b') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle

# C tier.
Show
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Bronze Key',
    'Lesser Jeweller\'s Orb',
    'Regal Orb',
    'Regal Shard',
  ]) }}
  {{ tieredScheme.output('currency', 'c') }}
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle

# Small stacks of gold in endgame have no map icon nor a drop sound.
Show
  AreaLevel         >= {{ itemFilter.levels.endgameStart }}
  Class             Currency
  BaseType          "Gold"
  StackSize         < 150
  MinimapIcon       -1
  CustomAlertSound  "None"

# Larger stacks of gold displayed as B tier.
Show
  Class             Currency
  BaseType          "Gold"
  StackSize         >= 1500
  {{ tieredScheme.output('currency', 'b') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle
Show
  Class             Currency
  BaseType          "Gold"
  StackSize         >= 750
  {{ tieredScheme.output('currency', 'c') }}
  PlayEffect        Brown
  MinimapIcon       1 Yellow Circle

# Fallback for gold not matched by any of the above.
Show
  Class             Currency
  BaseType          "Gold"
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle

# Hide these non-Greater/non-Perfect in later endgame as they're now barely
# worth your time.
Hide
  AreaLevel         >= {{ itemFilter.levels.endgamePhase3 }}
  Class             Currency
  BaseType          {{ utilities.quotedSequence([
    'Orb of Augmentation',
    'Orb of Transmutation',
  ]) }}

# Everything else is D tier.
Show
  Class             Currency
  {{ tieredScheme.output('currency', 'd') }}
  PlayEffect        Brown Temp
  MinimapIcon       2 Yellow Circle
