{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

Show
  Class           {{ utilities.quotedSequence([
    'Map Fragments',
    'Misc Map Items',
    'Pinnacle Key',
    'Vault Key',
  ]) }}
  {{ tieredScheme.output('endgame', 's') }}
  PlayEffect      White
  MinimapIcon     0 White Cross

# More valuable tablets.
Show
  BaseType            {{ utilities.quotedSequence([
    'Breach',
    'Delirium',
    'Expedition',
    'Overseer',
    'Ritual',
  ]) }}
  Class               Tablet
  {{ tieredScheme.output('endgame', 'a') }}
  PlayEffect          White
  MinimapIcon         1 White Cross

# Waystones and other tablets.
Show
  Class               Waystones Tablet
  {{ tieredScheme.output('endgame', 'b') }}
  PlayEffect          White Temp
  MinimapIcon         2 White Cross
