{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

# This should be before salvage materials so that the gem quality and gem socket
# rules here take priority.

# Level 19 and 20 uncut gems get special treatment due to their rarity.
#
# @see https://www.poe2wiki.net/wiki/Uncut_gem#Drop_level_breakpoints
Show
  BaseType        {{ utilities.quotedSequence([
    'Uncut Skill Gem',
    'Uncut Spirit Gem',
  ]) }}
  GemLevel        = 20
  {{ tieredScheme.output('gems', 's') }}
  PlayEffect      Green
  MinimapIcon     0 Green Star
Show
  BaseType        {{ utilities.quotedSequence([
    'Uncut Skill Gem',
    'Uncut Spirit Gem',
  ]) }}
  GemLevel        = 19
  {{ tieredScheme.output('gems', 'a') }}
  PlayEffect      Green
  MinimapIcon     1 Green Star

# All other uncut gems during endgame.
Show
  BaseType        {{ utilities.quotedSequence([
    'Uncut Skill Gem',
    'Uncut Spirit Gem',
    'Uncut Support Gem',
  ]) }}
  {{ tieredScheme.output('gems', 'c') }}
  AreaLevel       >= {{ itemFilter.levels.endgamePhase2 }}
  PlayEffect      Green Temp
  MinimapIcon     2 Green Hexagon

# All uncut gems until early endgame.
Show
  BaseType        {{ utilities.quotedSequence([
    'Uncut Skill Gem',
    'Uncut Spirit Gem',
    'Uncut Support Gem',
  ]) }}
  AreaLevel       < {{ itemFilter.levels.endgamePhase2 }}
  {{ tieredScheme.output('gems', 'b') }}
  PlayEffect      Green Temp
  MinimapIcon     2 Green Hexagon

# S tier lineage support gems.
#
# @see https://github.com/NeverSinkDev/Filter-Precursors/blob/cdaafe5c05c3e8503903339de1cb39f248cd663a/ExoContent/p2Tiering.exo#L208
Show
  Class "Support Gems"
  BaseType        {{ utilities.quotedSequence([
    'Dialla\'s Desire',
    'Rakiata\'s Flow',
  ]) }}
  {{ tieredScheme.output('gems', 's') }}
  PlayEffect      Green
  MinimapIcon     0 Green Star

# A tier lineage support gems.
#
# @see https://github.com/NeverSinkDev/Filter-Precursors/blob/cdaafe5c05c3e8503903339de1cb39f248cd663a/ExoContent/p2Tiering.exo#L209
Show
  Class "Support Gems"
  BaseType        {{ utilities.quotedSequence([
    'Ahn\'s Citadel',
    'Ailith\'s Chimes',
    'Amanamu\'s Tithe',
    'Arakaali\'s Lust',
    'Arbiter\'s Ignition',
    'Arjun\'s Medal',
    'Atalui\'s Bloodletting',
    'Atziri\'s Allure',
    'Brutus\' Brain',
    'Daresso\'s Passion',
    'Doedre\'s Undoing',
    'Einhar\'s Beastrite',
    'Esh\'s Radiance',
    'Garukhan\'s Resolve',
    'Ixchel\'s Torment',
    'Kalisa\'s Crescendo',
    'Kaom\'s Madness',
    'Kulemak\'s Dominion',
    'Kurgal\'s Leash',
    'Paquate\'s Pact',
    'Piety\'s Mercy',
    'Ratha\'s Assault',
    'Rigwald\'s Ferocity',
    'Romira\'s Requital',
    'Sione\'s Temper',
    'Tacati\'s Ire',
    'Tawhoa\'s Tending',
    'Tecrod\'s Revenge',
    'Tul\'s Stillness',
    'Uhtred\'s Augury',
    'Uhtred\'s Exodus',
    'Uhtred\'s Omen',
    'Uruk\'s Smelting',
    'Uul-Netol\'s Embrace',
    'Varashta\'s Blessing',
    'Vilenta\'s Propulsion',
    'Xoph\'s Pyre',
    'Zarokh\'s Refrain',
  ]) }}
  {{ tieredScheme.output('gems', 'a') }}
  PlayEffect      Green
  MinimapIcon     1 Green Star

# Cut gems with quality.
Show
  Class           Gems
  Quality         >= 1
  {{ tieredScheme.output('gems', 'a') }}
  PlayEffect      Green
  MinimapIcon     1 Green Circle

# Cut gems with at least 3 sockets.
Show
  Class           Gems
  Sockets         >= 3
  {{ tieredScheme.output('gems', 'a') }}
  PlayEffect      Green
  MinimapIcon     1 Green Circle

# Fallback for all gems not matching the above.
Show
  Class       Gems
  PlayEffect  Green Temp
  MinimapIcon 2 Green Circle
