{% import 'macros/tiered_scheme.' + itemFilter.templateExtension as tieredScheme with context -%}
{% import 'macros/utilities.' + itemFilter.templateExtension as utilities -%}

# Exotic jewel base types. Some of these only drop as uniques.
#
# @see https://www.poe2wiki.net/wiki/Jewel
Show
  BaseType        {{ utilities.quotedSequence([
    'Diamond',
    'Time-Lost Diamond',
    'Time-Lost Emerald',
    'Time-Lost Ruby',
    'Time-Lost Sapphire',
    'Timeless Jewel',
  ]) }}
  {{ tieredScheme.output('bases', 'a') }}
  PlayEffect      Purple
  MinimapIcon     0 Purple Hexagon

Show
  Class           Jewels
  Rarity          <= Rare
  {{ tieredScheme.output('bases', 'b') }}
  PlayEffect      Grey Temp
  MinimapIcon     2 Grey Hexagon
