# ------------------------------------------------------------------------------
#   A custom Path of Exile 2 item filter for cool and attractive people.
# ------------------------------------------------------------------------------

{# Note that the order of these includes is important for rule precedence. -#}
{% for group in [
  'defaults',
  'watchlist',
  'bases',
  'uniques',
  'quest_items',
  'gems',
  'salvage_materials',
  'jewellery',
  'leagues/index',
  'endgame_items',
  'currency',
  'socketables',
  'jewels',
  'ascendency_items',
  'belt_items',
] %}{%
  include 'groups/' + group + '.' + itemFilter.templateExtension with context
%}{% endfor -%}
